<div class="card card-info">
    <div class="card-header">
        <div class="card-title">
            <div class="title"><i class="fa fa-terminal"></i> Latest Actions</div>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="card-body no-padding">
        <ul class="message-list">

            <a href="#">
                <li>
                    <div class="card green summary-inline pull-left">
                        <div class="card-body">
                            <i class="icon fa fa-power-off fa-2x"></i>
                        </div>
                    </div>

                    <div class="message-block">
                        <div><span class="username">Living Room Lights</span> <span
                                    class="message-datetime">10 min ago</span>
                        </div>
                        <div class="message">Device was turned on by nealio82
                        </div>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="card red summary-inline pull-left">
                        <div class="card-body">
                            <i class="icon fa fa-power-off fa-2x"></i>
                        </div>
                    </div>

                    <div class="message-block">
                        <div><span class="username">Study Radiator</span> <span
                                    class="message-datetime">15 min ago</span>
                        </div>
                        <div class="message">Device was turned off by Raspberry Pi
                        </div>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="card red summary-inline pull-left">
                        <div class="card-body">
                            <i class="icon fa fa-power-off fa-2x"></i>
                        </div>
                    </div>

                    <div class="message-block">
                        <div><span class="username">Bedroom Radiator</span> <span
                                    class="message-datetime">15 min ago</span>
                        </div>
                        <div class="message">Device was turned off by Raspberry Pi
                        </div>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="card green summary-inline pull-left">
                        <div class="card-body">
                            <i class="icon fa fa-power-off fa-2x"></i>
                        </div>
                    </div>

                    <div class="message-block">
                        <div><span class="username">Bedroom Radiator</span> <span
                                    class="message-datetime">2 hours ago</span>
                        </div>
                        <div class="message">Device was turned off by Raspberry Pi
                        </div>
                    </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="card green summary-inline pull-left">
                        <div class="card-body">
                            <i class="icon fa fa-power-off fa-2x"></i>
                        </div>
                    </div>

                    <div class="message-block">
                        <div><span class="username">Bedroom Radiator</span> <span
                                    class="message-datetime">2 hours ago</span>
                        </div>
                        <div class="message">Device was turned on by Raspberry Pi
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>