<div class="row">
    <div class="col-xs-12">
        <div class="card primary">
            <div class="card-jumbotron no-padding">
                <canvas id="jumbotron-line-chart" class="chart no-padding"></canvas>
            </div>
            <div class="card-body half-padding">
                <h4 class="float-left no-margin font-weight-300">Temperature</h4>

                <h2 class="float-right no-margin font-weight-300">19 &#8451;</h2>

                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</div>